p
  | Im Zuge der Verwaltung einer Firma oder auch bei der Entwicklung einer Webseite oder eines Spieles werden immer wieder Applikationen (auch Apps oder Tools genannt) geschrieben.
  | Die Firma WebDaD bietet diese zur Verfügung an, gerne können wir auch für Sie ein maßgeschneidertes Tool entwickeln.
h2 Neue Apps
p 
  | Sie haben wiederkehrende Aufgaben oder überlegen, ob einzelne Aufgaben nicht schneller erledigt werden können?
  | Von Windows-Programmen über Server-Skripte bis hin zu Web-Anwendungen oder Apps für Ihr Smartphone – Wir erstellen Ihnen ein maßgeschneidertes Tool zum Einsatz für Ihre Zwecke!
  | Wir entwickeln nach 2 Grundsätzen:
  | „small Problem? Think Big!“
  | „Keep it Stupid and Simple!“
  | Die Analyse und die Erstellung eines Angebots sehen wir als kostenlosen Service an, damit Sie sich entscheiden können, mit uns zusammenzuarbeiten.

h2 Installation von Fremd-Apps
p 
  | Falls es schon Tools gibt, die Ihre Zwecke gut erfüllen können wir Ihnen bei der Einbindung in ihre Umgebung helfen.
  | Ob Installation, Konfiguration oder Schulungen – <a href="#kontakt">Wir sind Ihr Partner!</a>
h2 Unsere Apps
p Hier finden Sie eine Auflistung unserer Tools zur freien Verwendung.
.row.row-grid
  each app in apps
    .col-md-6
      .pcard
        .row
          .col-xs-4
            a(target='_blank', href=app.link)
              img.lazy(data-original=app.image alt="Logo "+app.title)
          .col-xs-8
            a(target='_blank', href=app.link)
              h3=app.title
            p=app.description
